<div class="romantic-page">

<div class="heart-container"></div>

<h1 class="title">
Please Forgive Me 🥺
</h1>

<div class="notes">

<div
*ngFor="let note of notes; let i=index"
class="note-card"
[style.backgroundColor]="note.color"
>

<p>
{{note.text}}
</p>

</div>

</div>

<div class="buttons">

<p-button
label="Yes I Forgive You ❤️"
severity="danger"
[rounded]="true"
(onClick)="openDialog()">
</p-button>

<button
#noBtn
(mouseover)="moveButton()"
class="no-btn">
No 😠
</button>

</div>

<p-dialog
[(visible)]="displayDialog"
[modal]="true"
[draggable]="false"
[showHeader]="false"
styleClass="romantic-dialog"
>

<div *ngIf="step===1" class="letter">

<h2>💌 Message</h2>

<p class="typewriter-text"></p>

<button
class="surprise-btn"
(click)="showVideo()">

Watch Surprise ❤️

</button>

</div>

<div *ngIf="step===2" class="video-box">

<iframe
[src]="safeVideoUrl"
allow="autoplay; encrypted-media"
allowfullscreen>
</iframe>

<h2>I Love You ❤️</h2>

<p>
နင်က ငါ့ရဲ့ တစ်ဦးတည်းသော အချစ်ဆုံးပါ
</p>

</div>

</p-dialog>

<audio autoplay loop>

<source src="assets/love.mp3" type="audio/mp3">

</audio>

</div>