@import "tailwindcss";
@plugin "tailwindcss-primeui";
@import "primeicons/primeicons.css";
/* 1. Reset and Box Model */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





/* 5. SVG Fix */
/* Global fix to prevent the "inline descender" gap at the bottom of SVGs */
svg {
  display: block;
  vertical-align: middle;
}